body,
.jumbotron
 {
    background-image: url(../images/what-the-hex.png);
    background-color: #cccccc;
}

.crystal-Img {
    height: 200px;
    widows: 200px;
    border: steelblue 2px solid;
}

.col-4 {
    text-align: center;
    border: black 2px dotted;
}

h5 {
    font-size: 24pt;
    background-color: #ffffff;
}